main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 2rem;
  min-height: 70vh;
  min-width: 90vw;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
}

.card {
  background-color: red;
  width: 200px;
  height: 300px;
  padding: 5px;
  border-radius: 10px;

  font-weight: bolder;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}

.card .image {
  width: 90%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
}

.score {
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 5rem;
}
