main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  gap: 2rem;
  min-height: 70vh;
  max-width: 70vw;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.card {
  background-color: red;
  width: 180px;
  height: 250px;
  padding: 5px;
  border-radius: 10px;

  font-weight: bolder;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  transform: scale(1);
  transition: transform 0.4s ease-in-out;

  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.card:nth-child(2n + 1) {
  background-color: rgb(212, 3, 3);
}

.card .image {
  width: 90%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.2);
}

.score {
  font-size: 2rem;
  align-self: flex-end;
  margin-right: 5rem;
  width: max-content;
}
.score div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 5px;
}
.score div p {
  background-color: red;
  font-weight: bolder;
  color: white;
  width: 30px;
  border-radius: 5px;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1250px) {
  .card {
    width: 130px;
    height: 180px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1090px) {
  .score {
    align-self: center;
    font-size: 1.8rem;
    display: flex;
    gap: 20px;
  }
  .card {
    width: 100px;
    height: 140px;
    font-size: 0.8rem;
  }
}

@media (max-width: 840px) {
  .score {
    align-self: flex-end;
    font-size: 1.4rem;
  }
}

@media (max-width: 610px) {
  .score {
    align-self: center;
    margin-top: 10px;
    margin-left: 80px;
  }
  .card {
    width: 80px;
    height: 100px;
    font-size: 11px;
  }
}
