.msg {
  margin: 150px 0 20px 0;
  font-size: 1.5rem;
}
.levels {
  display: flex;
  gap: 10px;
}
.level {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bolder;
  transition: transform 0.3s ease-in-out;
  color: white;
}
.level:hover {
  transform: scale(1.1);
}
